---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Telecharger from "../components/Telecharger.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
---

<BaseLayout
  title="À propos | Abdelouafi Tahiri"
  description="À propos Abdelouafi Tahiri"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
      >
        <img
          width="1553"
          height="873"
          src="/portfolio/assets/photo3.png"
          alt="Abdelouafi Tahiri"
        />
      </Hero>

      <section>
        <h2 class="section-title">Qui suis je</h2>
        <div class="content">
          <p>
            Bienvenue sur mon portfolio où je vais vous présenter mon parcours
            professionnel. Je suis un passionné de la physique et de la chimie,
            j'ai exercé en tant qu'enseignant au collège/ Maroc. J'ai adoré
            travailler avec les élèves et leur transmettre mes connaissances.
            J’ai également travaillé en tant que responsable de projet au Maroc,
            où j'ai acquis de solides compétences en gestion de projet et
            d’équipe. Récemment, j'ai déterminé de me lancer dans une nouvelle
            aventure professionnelle. Le domaine de développement me passionne
            depuis longtemps, j’ai donc décidé de me reconvertir en obtenant le
            titre professionnel de développeur web et web mobile. Je suis
            actuellement à la recherche d'un poste de Développeur web et web
            mobile, où je pourrai mettre mes compétences au service d'une
            entreprise dynamique et innovante.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong> Titre professionnel Développeur web, web mobile</strong>
            <br />
            AFPA - CRÉTEIL - FRANCE| 2023
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>
              Licence professionnelle |Métiers d'enseignement physi/chimie
            </strong>
            <br />
            MAROC | 2014
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>Licence fondamentale | Sciences physique/chimie</strong>
            <br />
            MAROC| 2007
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>Deug | Sciences physique/chimie</strong>
            <br />
            MAROC| 2006
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>Baccalaurèat | Sciences</strong>
            <br />
            MAROC| 2004
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Atouts</h2>
        <div class="content">
          <p>Rigoureux</p>
          <p>Curieux et Créatif</p>
          <p>Polyvalent</p>
        </div>
      </section>
    </main>

    <ContactCTA />
    <Telecharger />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>

<app-information _ngcontent-abl-c20="" _nghost-abl-c6="">
  <section _ngcontent-abl-c6="">
    <div _ngcontent-abl-c6="" class="info">
      <div _ngcontent-abl-c6="" class="img">
        <img _ngcontent-abl-c6="" src="assets/wala.jpg" alt="photo" />
      </div>
      <h2 _ngcontent-abl-c6="">Maaoui Walaeddine</h2><p _ngcontent-abl-c6="">
        <svg
          _ngcontent-abl-c6=""
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="15"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="butt"
          stroke-linejoin="round"
          ><rect
            _ngcontent-abl-c6=""
            x="3"
            y="4"
            width="18"
            height="18"
            rx="2"
            ry="2"></rect><line
            _ngcontent-abl-c6=""
            x1="16"
            y1="2"
            x2="16"
            y2="6"></line><line _ngcontent-abl-c6="" x1="8" y1="2" x2="8" y2="6"
          ></line><line _ngcontent-abl-c6="" x1="3" y1="10" x2="21" y2="10"
          ></line></svg
        > 21-09-1993
      </p><p _ngcontent-abl-c6="">
        <svg
          _ngcontent-abl-c6=""
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="15"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="butt"
          stroke-linejoin="round"
          ><circle _ngcontent-abl-c6="" cx="12" cy="10" r="3"></circle><path
            _ngcontent-abl-c6=""
            d="M12 21.7C17.3 17 20 13 20 10a8 8 0 1 0-16 0c0 3 2.7 6.9 8 11.7z"
          ></path></svg
        > Gabes Tunisie
      </p><p _ngcontent-abl-c6="">
        <svg
          _ngcontent-abl-c6=""
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="15"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="butt"
          stroke-linejoin="round"
          ><path
            _ngcontent-abl-c6=""
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path><polyline _ngcontent-abl-c6="" points="22,6 12,13 2,6"
          ></polyline></svg
        > walaeddine.web.dev@gmail.com
      </p><p _ngcontent-abl-c6="">
        <svg
          _ngcontent-abl-c6=""
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="15"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="butt"
          stroke-linejoin="round"
          ><path
            _ngcontent-abl-c6=""
            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
          ></path></svg
        > +21621308916
      </p><div _ngcontent-abl-c6="" class="links">
        <a
          _ngcontent-abl-c6=""
          href="https://www.facebook.com/wala25"
          target="_blank"
          ><svg
            _ngcontent-abl-c6=""
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 612 612"
            xml:space="preserve"
            ><path
              _ngcontent-abl-c6=""
              d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306 C474.995,612,612,474.995,612,306z M223.825,306v-58.557h35.885V212.03c0-47.764,14.271-82.175,66.569-82.175h62.201v58.418 h-43.785c-21.949,0-26.929,14.577-26.929,29.849v29.32h67.487L376.046,306h-58.278v176.617H259.71V306H223.825z"
            ></path></svg
          ></a
        ><a
          _ngcontent-abl-c6=""
          href="https://twitter.com/wala1eddine"
          target="_blank"
          ><svg
            _ngcontent-abl-c6=""
            width="30"
            height="30"
            viewBox="0 0 48 48"
            fill="black"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              _ngcontent-abl-c6=""
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM23.2812 19.5075L23.3316 20.338L22.4922 20.2363C19.4369 19.8465 16.7677 18.5245 14.5013 16.3043L13.3934 15.2027L13.108 16.0162C12.5036 17.8296 12.8897 19.7448 14.1488 21.0328C14.8203 21.7446 14.6692 21.8463 13.5109 21.4226C13.108 21.287 12.7554 21.1854 12.7219 21.2362C12.6044 21.3548 13.0073 22.8971 13.3262 23.5072C13.7627 24.3546 14.6524 25.1851 15.6261 25.6766L16.4487 26.0664L15.475 26.0833C14.5349 26.0833 14.5013 26.1003 14.6021 26.4562C14.9378 27.5578 16.264 28.7272 17.7413 29.2357L18.7822 29.5916L17.8756 30.1339C16.5326 30.9135 14.9546 31.3542 13.3766 31.3881C12.6211 31.405 12 31.4728 12 31.5237C12 31.6931 14.0481 32.6422 15.24 33.0151C18.8157 34.1167 23.063 33.6422 26.2526 31.7609C28.5189 30.422 30.7852 27.7612 31.8428 25.1851C32.4136 23.8123 32.9844 21.304 32.9844 20.1007C32.9844 19.3211 33.0347 19.2194 33.9748 18.2872C34.5288 17.7449 35.0492 17.1517 35.15 16.9822C35.3178 16.6602 35.3011 16.6602 34.4449 16.9483C33.018 17.4568 32.8165 17.389 33.5216 16.6263C34.042 16.084 34.6631 15.101 34.6631 14.8129C34.6631 14.762 34.4113 14.8468 34.1259 14.9993C33.8238 15.1688 33.1523 15.423 32.6486 15.5756L31.7421 15.8637L30.9195 15.3044C30.4663 14.9993 29.8283 14.6604 29.4926 14.5587C28.6364 14.3214 27.327 14.3553 26.5548 14.6265C24.4563 15.3891 23.1301 17.3551 23.2812 19.5075Z"
            ></path></svg
          ></a
        ><a
          _ngcontent-abl-c6=""
          href="https://www.linkedin.com/in/maaouiwalaeddine"
          target="_blank"
          ><svg
            _ngcontent-abl-c6=""
            width="30"
            height="30"
            viewBox="0 0 48 48"
            fill="black"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              _ngcontent-abl-c6=""
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24ZM16.9605 19.8778H11.5216V36.2196H16.9605V19.8778ZM17.3188 14.8227C17.2835 13.2204 16.1377 12 14.277 12C12.4164 12 11.2 13.2204 11.2 14.8227C11.2 16.3918 12.3805 17.6473 14.2064 17.6473H14.2412C16.1377 17.6473 17.3188 16.3918 17.3188 14.8227ZM36.5754 26.8497C36.5754 21.8303 33.8922 19.4941 30.3131 19.4941C27.4254 19.4941 26.1326 21.0802 25.4107 22.1929V19.8783H19.9711C20.0428 21.4117 19.9711 36.22 19.9711 36.22H25.4107V27.0934C25.4107 26.605 25.446 26.1178 25.5898 25.7681C25.9829 24.7924 26.8779 23.7822 28.3805 23.7822C30.3494 23.7822 31.1365 25.2807 31.1365 27.4767V36.2196H36.5752L36.5754 26.8497Z"
            ></path></svg
          ></a
        ><a
          _ngcontent-abl-c6=""
          href="https://github.com/wala25"
          target="_blank"
          ><svg
            _ngcontent-abl-c6=""
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            ><path
              _ngcontent-abl-c6=""
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
            ></path></svg
          ></a>
      </div>
      <div _ngcontent-abl-c6="" class="button">
        <a _ngcontent-abl-c6="" download="" href="assets/cv/profr.pdf">
          Télécharger CV</a>
      </div>
    </div>
  </section></app-information
>
