---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";

import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
---

<BaseLayout
  title="À propos | Abdelouafi Tahiri"
  description="À propos Abdelouafi Tahiri"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
      >
        <img
          width="1553"
          height="873"
          src="/portfolio/assets/photo3.png"
          alt="Abdelouafi Tahiri"
        />
      </Hero>

      <section>
        <h2 class="section-title">Qui suis je</h2>
        <div class="content">
          <p>
            Bienvenue sur mon portfolio où je vais vous présenter mon parcours
            professionnel. Je suis un passionné de la physique et de la chimie,
            j'ai exercé en tant qu'enseignant au collège/ Maroc. J'ai adoré
            travailler avec les élèves et leur transmettre mes connaissances.
            J’ai également travaillé en tant que responsable de projet au Maroc,
            où j'ai acquis de solides compétences en gestion de projet et
            d’équipe. Récemment, j'ai déterminé de me lancer dans une nouvelle
            aventure professionnelle. Le domaine de développement me passionne
            depuis longtemps, j’ai donc décidé de me reconvertir en obtenant le
            titre professionnel de développeur web et web mobile. Je suis
            actuellement à la recherche d'un poste de Développeur web et web
            mobile, où je pourrai mettre mes compétences au service d'une
            entreprise dynamique et innovante.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong> Titre professionnel Concepteur développeur d'applications</strong>
            <br />
            ALT-RH CONSULTING-Noisiel | 2023-2024 en cours d'acquisition
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong> Titre professionnel Développeur web, web mobile</strong>
            <br />
            AFPA - CRÉTEIL - FRANCE| 2023
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>
              Licence professionnelle |Métiers d'enseignement physi/chimie
            </strong>
            <br />
            MAROC | 2014
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>Licence fondamentale | Sciences physique/chimie</strong>
            <br />
            MAROC| 2007
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>Deug | Sciences physique/chimie</strong>
            <br />
            MAROC| 2006
          </p>
          <p>
            <Icon icon="graduation-cap" size="1.33em" />
            <strong>Baccalaurèat | Sciences</strong>
            <br />
            MAROC| 2004
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Atouts</h2>
        <div class="content">
          <p>Rigoureux</p>
          <p>Curieux et Créatif</p>
          <p>Polyvalent</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
