---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<aside>
  <h2>Intéressé par une collaboration ?</h2>
  <CallToAction href="mailto:abdelouafit85@gmail.com">
    Contactez moi
    <Icon icon="paper-plane-tilt" size="1.2em" />
  </CallToAction>
  <br />

  <CallToAction id="telecharger-cv" href="#">
    Telecharger CV
    <Icon icon="download-simple" size="1.2em" />
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 1px solid var(--gray-800);
    border-bottom: 1px solid var(--gray-800);
    padding: 5rem 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 15ch;
  }

  @media (min-width: 50em) {
    aside {
      padding: 7.5rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      font-size: var(--text-3xl);
      text-align: left;
    }
  }
</style>

<script>
  // Fonction pour déclencher le téléchargement du CV
  function telechargerCV() {
    var lien = document.createElement("a");
    lien.href = "/portfolio/assets/cv.pdf"; // Remplacez par le chemin d'accès réel vers votre CV au format PDF
    lien.download = "cv.pdf"; // Nom du fichier de téléchargement
    document.body.appendChild(lien);
    lien.click();
    document.body.removeChild(lien);
  }

  // Écouteur d'événement pour le clic sur le lien de téléchargement
  document
    .getElementById("telecharger-cv")
    .addEventListener("click", function (e) {
      e.preventDefault(); // Empêche le comportement par défaut du lien (redirection)
      telechargerCV();
    });
</script>
